<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice.dao.GongziDao">
  <resultMap type="gongzi" id="gongziMap">
    <id column="NOTICE_NUMBER" property="no"/> 
    <result column="NOTICE_CONTS" property="contents"/>
    <result column="NOTICE_DATE" property="createdDate"/>
    <result column="NOTICE_VIEW" property="viewCount"/>
    <result column="NOTICE_TITLE" property="title"/>
    <result column="NOTICE_WRITER" property="writer"/>
  </resultMap>
  
  <select id="selectList" resultMap="gongziMap" parameterType="map">
    select NOTICE_NUMBER,NOTICE_TITLE,NOTICE_DATE,NOTICE_VIEW,NOTICE_CONTS
    from notice
    limit #{startIndex}, #{length}
  </select>
  
 <select id="selectOne" resultMap="gongziMap" parameterType="int">
    select NOTICE_NUMBER,NOTICE_WRITER,NOTICE_TITLE,NOTICE_DATE,NOTICE_VIEW,NOTICE_CONTS
    from notice
       where no = #{value}
  </select>  
  
  <insert id="insert" parameterType="gongzi">
    insert into notice(NOTICE_TITLE, NOTICE_CONTS, NOTICE_VIEW, NOTICE_DATE, NOTICE_WRITER)
    values(#{title}, #{contents}, 0, now(), #{writer})
  </insert>
  
  <update id="update" parameterType="gongzi">
    update notice set 
      NOTICE_TITLE=#{title}, 
      NOTICE_CONTS=#{contents} 
    where no=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from notice
    where no=#{value}
  </delete> 
</mapper>






















